<div class="container pt-5">
    <div class="row">
        <span>
            <button class="btn btn-primary" (click)="togglebtn(initialbtnState)">{{initialbtnState}}</button>
        </span>
        <span *ngIf="initialbtnState == 'Refresh Data'" style="margin-left: auto">
            <button class="btn btn-primary" (click)="open(mymodal)">Add User</button>
        </span>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="" *ngIf="userForm" [formGroup]="userForm">

                <table *ngIf="showTable" class="table table-bordered" id="editableTable">

                    <thead>
                        <tr class="d-flex">
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th style="width: 183px;">Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr class="d-flex" *ngFor="let item of userslist; let i = index;">

                            <ng-container *ngIf="!item.editable;">
                                <td>{{item.fname}}</td>
                                <td>{{item.mname}}</td>
                                <td>{{item.lname}}</td>
                                <td style="width: 183px;">{{item.email}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.address}}</td>
                                <td>
                                    <button style="margin-right: 12px;" (click)="edit(i)"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button (click)="dlt(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </ng-container>

                            <ng-container *ngIf="item.editable;">
                                <div formArrayName="users">
                                    <div [formGroupName]='i'>
                                        <td> <input class="col-12" formControlName="fname" id="fname_{{i}}"></td>
                                        <td> <input class="col-12" formControlName="mname" id="mname_{{i}}"></td>
                                        <td> <input class="col-12" formControlName="lname" id="lname_{{i}}"></td>
                                        <td style="width: 183px;"> <input class="col-12" formControlName="email"
                                                id="email_{{i}}"> </td>
                                        <td> <input class="col-12" type="number" onkeypress="return event.charCode >= 48" formControlName="phone" id="phone_{{i}}"> </td>
                                        <td>
                                            <select class="col-12" formControlName="role" id="role_{{i}}">
                                                <ng-container *ngFor="let el of roles">
                                                    <option value="{{el}}">{{el}}</option>
                                                </ng-container>
                                            </select>
                                        </td>
                                        <td> <input class="col-12" formControlName="address" id="address_{{i}}"> </td>
                                        <td>
                                            <button style="margin-right: 14px;" (click)="save(i)"><i
                                                    class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                            <button (click)="edit(i)"><i class="fa fa-window-close"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </div>
                                </div>
                            </ng-container>

                        </tr>
                    </tbody>

                </table>
            </form>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form *ngIf="addUserForm" [formGroup]="addUserForm">
        <label class="col-6" for=""> First Name</label> <input class="col-6" formControlName="fname" >
        <label class="col-6" for=""> Middle Name</label> <input class="col-6" formControlName="mname" >
        <label class="col-6" for=""> Last Name</label> <input class="col-6" formControlName="lname" >
        <label class="col-6" for=""> Email</label> <input class="col-6" formControlName="email" >
        <label class="col-6" for=""> Phone</label> <input class="col-6" type="number" onkeypress="return event.charCode >= 48" formControlName="phone" >
        <label class="col-6" for=""> Role</label>
        <select class="col-6" formControlName="role" >
            <ng-container *ngFor="let el of roles">
                <option value="{{el}}">{{el}}</option>
            </ng-container>
        </select>
        <label class="col-6" for=""> Address </label> <input class="col-6" formControlName="address" >

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addNewEntry()">Ok</button>
    </div>
</ng-template>